<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352512787449-ak377m4odhvv0ukvjivp4f3l1hmvbqe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352512787449-ak377m4odhvv0ukvjivp4f3l1hmvbqe9</string>
	<key>API_KEY</key>
	<string>AIzaSyBkLLUMs5fgeRPJI6rAU2tQemmnFA2Pvbs</string>
	<key>GCM_SENDER_ID</key>
	<string>352512787449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iclibera.minikrutin</string>
	<key>PROJECT_ID</key>
	<string>minikrutin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>minikrutin-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352512787449:ios:9c431cc7c75ac7de3ff328</string>
</dict>
</plist>